
@font-face {
    font-family: 'Roboto';
    src: url("/asserts/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'inter';
    src: url("/asserts/fonts/Inter-Regular.ttf");
}

html {
    font-family: inter, sans-serif;
    font-size: 14pt;
}
  

.site {
    margin-top: .8em;
    margin-right: .5em;
    float: right;
    text-align: right;
    font-family: 'Roboto';
}



h1 {
    font-size: 150%;
    padding: 10px;
    padding-left: 30px;
    border-bottom: 1px solid black;
}