@font-face {
  font-family: 'inter';
  src: url('/asserts/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'andika';  
  src: url('/asserts/fonts/Andika-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/asserts/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Hack';
  src: url('/asserts/fonts/Hack-Regular.ttf');
}

html {
  font-family: 'source sans pro', 'Noto';
  font-size: 14pt;
}

body {
  width: 75ch;
  max-width: calc(100vw - 3em);
  margin: 2em auto 200px auto;
}

p {
  color: #2f2f2f;
  line-height: 1.5;
}

.site {
  margin-top: .5em;
  float: right;
  text-align: right;
}

p {
  text-align: justify;
}



h1,
h2 {
  margin: 1.5em 0 1em 0;
}

.logo {
  width: 320;
  text-align: center;
  margin: 1rem;
}
@media (min-width: 800px) {
  .logo {
    float: right;
  }
}


pre {
  margin-left: 2em;
  margin-right: 2em;
}

pre code {
  font-family: 'Hack';
  font-size: 90%;
}

code {
  font-family: 'Hack';
  background-color: #ececec;
  font-size: 80%;
  padding: 3px;
  border-radius: 3px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}


td, th {
  border: 1px solid #454545;
  padding: 8px;
}