@font-face {
    font-family: 'kalam';
    src: url("/fonts/Kalam-Regular.ttf");
}

@font-face {
    font-family: 'statis';
    src: url("/fonts/Satisfy-Regular.ttf");
}

@font-face {
    font-family: 'Open sans';
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'SiYuan';
    src: url("/fontmins/SiYuan.ttf");
}

body {
    background-color: rgba(208, 214, 220, 0.1);
    font-family: 'Open sans', 'SiYuan', Sans Serif,Sans;
}


.content {
    width: 70ch;
    max-width: calc(100vw - 4em);
    margin: 2rem auto 5rem auto;
    padding: 1vw 3rem 2rem 3rem;
    border-radius: 3px;
}

@media (max-width: 800px) {
    .content {
        width: 85%;
        /* 当屏幕宽度小于1000px时，将content的宽度设为90% */
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }

    body {
        margin: 0;
    }

}