
@font-face {
    font-family: 'Open sans';
    src: url("/fonts/OpenSans-Regular.ttf");
}


@font-face {
    font-family: 'Roboto Mono';
    size: 150%;
    src: url("/fonts/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: 'statis';
    src: url("/fonts/Satisfy-Regular.ttf");
}
body {
    margin-left: 30px;
    background-color: rgba(208, 214, 220, 0.1);
    font-family: 'Open sans', Sans Serif,Sans;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.wiki-header {
    font-family: 'statis';
    font-size: 140%;
    color: rgb(98, 127, 164);
    text-decoration: none;
    padding-left: 2%;
    padding-right: 4%;
}


.back-to-home::before {
    content: "";
    margin-right: 3%;
    border-left: 1px solid #d8d8d8;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.content {
    /* background-color: #E6E6E61A; */
    width: 60%;
    padding: 2rem 4rem 5rem 4rem;
    margin: 30px 20% 80px auto;
    box-shadow: 0 0px 5px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    min-width: 650px;
    min-height: 500px;
    border-radius: 3px;
    font-size: 110%;
}

footer {
    text-align: center;
    color: rgb(134, 0, 229);
    margin-bottom: 10px;
    user-select: none;
}


@media (max-width: 800px) {
    .content {
        width: 85%;
        /* 当屏幕宽度小于1000px时，将content的宽度设为90% */
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }
    body {
        margin: 0;
    }
}

.logo {
    width: 320;
    text-align: center;
    margin: 1rem 1rem 1rem 2rem;
}

@media (min-width: 800px) {
    .logo {
        float: right;
    }
}

.site {
    margin-top: 2em;
    margin-left: .5em;
    float: right;
    text-align: right;
    font-family: 'statis';
}

p {
    color: #161c29;
}

.back-to-home {
    color: #000000;
}

.hljs {
    font-family: 'Roboto Mono';
    font-size: 80%;
}


p {
    margin-top: 0;
    margin-bottom: 10px;
}