@font-face {
    font-family: 'Me';
    src: url("./font/MeriendaOne-Regular.ttf");
}

@font-face {
    font-family: 'Andika';
    size: 150%;
    src: url("./font/Andika-Regular.ttf");
}

@font-face {
    font-family: 'Hack';
    size: 150%;
    src: url("./font/Hack-Regular.ttf");
}


@font-face {
    font-family: 'statis';
    src: url("./font/Satisfy-Regular.ttf");
}

@font-face {
    font-family: 'Open sans';
    src: url("./font/OpenSans-Regular.ttf");
}


body {
    margin: 0;
    background-color: #fcfcfc;
    background-color: #f7f7f7;
}


header {
    font-family: 'Open sans', Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px ;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    /* 应用一个10像素的模糊效果 */
    background-color: rgba(255, 255, 255, 0.7);
    /* 背景颜色，透明度根据需求调*/
    z-index: 1000;
}

.wiki-header {
    font-family: 'statis';
    font-size: 130%;
    color: rgb(98, 127, 164);
    text-decoration: none;
    padding-left: 2%;
    padding-right: 3%;
}


.wiki-header::after {
    content: "";
    margin-left: 3%;
    border-left: 1px solid #bfbfbf;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}


html {
    scroll-padding-top: 75px;
}


.content {
    font-family: 'Open sans', Helvetica, sans-serif;
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding: 30px 60px 30px 60px;
    margin: 30px 0 80px 12%;
    box-shadow: 0 0px 5px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    min-width: 630px;
    min-height: 500px;
    font-size: 100%;
    border-radius: 3px;
}

footer {
    text-align: center;
    color: rgb(134, 0, 229);
    margin-bottom: 10px;
    user-select: none;
}

@media (max-width: 800px) {
    .content {
        width: 85%;
        /* 当屏幕宽度小于1000px时，将content的宽度设为90% */
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }

}



.logo {
    width: 320;
    text-align: center;
    margin: 1rem 1rem 1rem 2rem;
}

@media (min-width: 800px) {
    .logo {
        float: right;
    }
}
.site {
    margin-top: 2.5em;
    margin-left: .5em;
    float: right;
    text-align: right;
  }

p {
    text-align: justify;
}

.site a {
    font-family: 'Me';
    padding-left: 5px;
}

code {
    font-family: 'Hack';
    font-size: 80%;

}
