@font-face {
    font-family: 'MeriendaOne';
    src: url("../font/MeriendaOne-Regular.ttf");
}

@font-face {
    font-family: 'Andika';
    size: 150%;
    src: url("../font/Andika-Regular.ttf");
}

@font-face {
    font-family: 'Hack';
    size: 150%;
    src: url("../font/Hack-Regular.ttf");
}


body {
    margin: 0;
    font-family: 'Andika', Helvetica, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    padding: 15px 3%;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px); /* 添加高斯模糊 */
    z-index: 1000; /* 确保header在顶部 */
}
.header-content {
    display: flex;
    align-items: center;
    
}

.header-content {
    display: inline-block;
}

.header-content span {
    position: relative;
    user-select: none;
}


.header-content span.additional-text::before {
    content: '';
    margin-right: 20px;
    margin-left: 20px;
    top: 0;
    height: 100%; /* Make the vertical line full height of the span */
    border-left: 2px solid rgb(206, 206, 206); /* Adjust the style of the vertical line */
}

.header-content span.hd a {
    margin-right: 20px; /* Optional: Add some space between the text and the vertical line */
    font-size: 120%;
}


.additional-text {
    top: 0;
    font-size: 16px;
    color: #777777;
}

.content {
    width: 60%;
    margin: 40px auto 20px; /* 添加额外的顶部间距，以防止内容被header遮挡 */
    background-color: rgb(255, 255, 255);
    padding: 40px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    margin-top: 80px;
    box-shadow: 0 0px 5px -3px rgba(0,0,0.9,.9),0 0px 3px -3px rgba(0,0,0,.9);
    border-radius: 3px;
    margin-left: 10%; /* 添加这一行来使内容向左偏移 */
    min-width: 630px;
    min-height: 300px;
    background-color: #ffffff;
}



@media (max-width: 800px) {
    .content {
        width: 85%; /* 当屏幕宽度小于1000px时，将content的宽度设为90% */
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }
    .additional-text {
        display: none;
    }
    .header-content span.drop::after {
        display: none;
    }
    
}


span.hd a {
    font-family: MeriendaOne;
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

span.homepage {
    margin-right: 20px;
}


img.avatar {
    float: left;
    user-select: none;
}


.avatar-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 400;
    color: #4F7DDE;
}


/* 当鼠标悬浮在链接上时改变颜色 */
a:hover {
    color: rgb(104, 143, 242);

}




li {
    line-height: 1.8;
}

li::marker {
    color: #8e8e8e;
}



html{
    scroll-padding-top: 75px;
  }



/* 美化代码块 */
pre code {
    font-family: Hack;
    line-height: 1.2;
}

/* 美化行内代码 */
code {
    font-family: Hack;
    font-size: 80%;
    padding: 4px;
    border-radius: 2px;
}




/* 下拉菜单样式 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Your existing CSS styles */

/* Modified styles for dropdown content */
.dropdown-content {
    overflow-y: auto; /* 添加滚动条 */
    max-height: 300px; /* 固定高度 */
    width: 200px; /* 固定宽度 */
    padding-left: 20px;
}

.dropdown-content a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%; /* 减小字体大小 */
    color: black;
    text-decoration: none;
    display: block;
}


.dropdown-content ul {
    padding-left: 20px;
}

.dropdown-content a:hover {
    color: #39a3e1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.posttime {
    font-style: italic;
    font-size: 90%;
    font-family: 'Andika';
    overflow: hidden; /* 清除浮动 */
    color: rgb(156, 156, 156);
    user-select: none;
}
.posttime span {
    float: left; /* 左浮动 */
}
.posttime span.editdate {
    float: right; /* 右浮动 */
}




.post-item {
    cursor: pointer; /* 鼠标样式设置为手型 */
    transition: background-color 0.3s; /* 添加过渡效果 */
    padding: 3px;
    border-radius: 3px;
}

.post-item:hover {
    background-color: #f0f0f0; /* 鼠标悬停时的背景颜色 */
}


.post-type {
    user-select: none;
    text-align: center;
    font-size: large;
    margin-top: 20px;
    color: rgb(37, 106, 146);
}

.post-item {
    overflow: hidden; /* 清除浮动 */
}

.post-item span.name {
    float: left;
}

.post-item span.time {
    float: right;
    font-family: 'Andika';
    font-size: 90%;
    user-select: none;
}