@font-face {
    font-family: 'Me';
    src: url("./font/MeriendaOne-Regular.ttf");
}

@font-face {
    font-family: 'Andika';
    size: 150%;
    src: url("./font/Andika-Regular.ttf");
}

@font-face {
    font-family: 'Hack';
    size: 150%;
    src: url("./font/Hack-Regular.ttf");
}


@font-face {
    font-family: 'statis';
    src: url("./font/Satisfy-Regular.ttf");
}




body {
    margin: 0;
    font-family: 'Andika', Helvetica, sans-serif;
    background-color: #fcfcfc;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3%;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px); /* 应用一个10像素的模糊效果 */
    background-color: rgba(255, 255, 255, 0.7); /* 背景颜色，透明度根据需求调*/
    z-index: 1000;
}


.content {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    margin: 40px auto 20px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    padding-bottom: 30px;
    margin-bottom: 200px;
    margin-left: 13%;
    box-shadow: 0 0px 5px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    min-width: 630px;
    min-height: 500px;
    font-size: 100%;
}

footer {
    text-align: center;
    color: rgb(134, 0, 229);
    margin-bottom: 10px;
    user-select: none;
}

@media (max-width: 800px) {
    .content {
        width: 85%;
        /* 当屏幕宽度小于1000px时，将content的宽度设为90% */
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }

}

/* 美化代码块 */
pre code {
    font-family: 'Hack';
    line-height: 1.2;
}

/* 美化行内代码 */
code {
    font-family: monospace;
    font-size: 80%;
    padding: 4px;
    border-radius: 2px;
    background-color: #eeeeee;
}


.wiki-header {
    font-family: 'statis';
    font-size: 160%;
    color: rgb(55, 55, 55);
    text-decoration: none;
}

.wiki-header::after {
    content: "";
    margin-left: 3%;
    border-left: 2px solid #dddddd;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
}

img.avatar {
    float:inline-start;
    user-select: none;
    margin-left: 5%;
}

.avatar-content {
    padding-top: 50px;
}

.avatar-name {
    font-family:'Times New Roman', Times, serif;
    font-size: 190%;
    margin-top: 25px;
}

.avatar-area {
    margin-bottom: 30px;
}

.avatar-area p{
    margin: 10px;
}

.avatar-area hr {
    margin-top: 20px;
}


.post-item {
    cursor: pointer; /* 鼠标样式设置为手型 */
    transition: background-color 0.3s; /* 添加过渡效果 */
    padding: 5px;
    margin-left: 20px;
    border-radius: 3px;
    overflow: hidden; /* 清除浮动 */
}

.post-item:hover {
    background-color: #f2f2f2; /* 鼠标悬停时的背景颜色 */
}
.post-name {
    float: left;
    padding-left: 5px;
    color: #484848;
}
.post-date {
    font-family: 'Times New Roman', Times, serif;
}


.post-tag {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 120%;
    font-family: 'Me';
    /* border-bottom: 1px solid black; */
}


.post-item .post-date {
    color: #7d7d7d;
    float: right;
    padding-top: 2px;
    font-size: medium;
    margin-right: 20px;
}


.date {
    font-family: 'Andika';
    overflow: hidden; /* 清除浮动 */
    color: rgb(144, 144, 144);
    user-select: none;
}


html{
    scroll-padding-top: 75px;
}



a.home-button {
    margin-left: 3%;
    text-decoration: none;
}

a.home-button img {

    width: 25px;
}
